<div class="row justify-content-center">
  <div class="col-6">
  <% if @errors1 && @errors2 && @errors3%>
      <% @errors1.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
      <% @errors2.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
      <% @errors3.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
    <% end %>
    <body class='container' >
        <h4 > Female gender: </h4>
        <h5 > <%=@female_category%> </h5>
        <hr class="my-4">
        <h4 > Male gender: </h4>
        <h5 > <%=@male_category%> </h5 >
        <hr class="my-4">
        <h4 > Other gender: </h4>
        <h5 > <%=@other_category%> </h5 >
    </body >
    <hr class="my-4">
  <p><a class="btn btn-primary" href='/information'>Back to information</a></p>
  </div>
</div>